{% extends "base.html" %}
{% set lang = article.lang %}
{% block html_lang %}{{ lang }}{% endblock %}

{% block header %}
  {% import 'translations.html' as translations_funcs with context %}
  {{ translations_funcs.translations_header(article.translations) }}
  {{ super() }}
{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title|striptags  }}{% endblock %}

{% block content %}
<section id="content" class="body">
  <time class="published" datetime="{{ article.date.isoformat() }}">
    {{ article.locale_date }}
  </time>
  {% if article.authors %}
  <address class="vcard author"></address>By
    {% for person in article.people_names %}
      {% if person['person_url'] == 'None' %}
          {{ person['id'] }}
      {% else %}
          <a class="url fn" href="{{ SITEURL }}/{{ person['person_url'] }}">{{ person['name'] }}</a>
      {% endif %}
    {% endfor %}
  </address>
  {% endif %}

  <div class="entry-content">
    {% if article.summaryimage %}<img src="{{ SITEURL }}/{{ article.summaryimage }}" alt="">{% endif %}
    {{ article.content }}
  </div>
</section>
{% endblock %}
