<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">    
<head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />
    <meta name="generator" content="Pelican" />
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
    {% endblock head %}
</head>

<body id="index" class="home">
    {% block header %}
    <header id="banner" class="body">
        <div id="header-text-nav-container" class="clearfix">
            <div align="right">
                <a  href="{{MSU_URL}}" target="_blank" style="font-family: 'Oxygen', sans-serif;font-size: 16px">			
					{{MSU_NAME}}				
				</a>
            </div>
            <div id="header-text-nav-wrap" class="clearfix" >
                <div id="header-left-section">
                    <div id="header-logo-image">
                        <img width="77" height="48" src="{{ SITEURL }}/theme/images/small_lab_logo.png" class="custom-logo" alt="{{ SITENAME }}">
                    </div>
                    <div id="header-text">
                     <h1><a href="{{ SITEURL }}/">{{ SITENAME }}{% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a></h1>
                    </div>
                </div>
            </div>
        </div>
    </header><!-- /#banner -->
    <nav id="site-navigation" class="main-navigation clearfix" role="navigation"><ul>
    {% for menuitems_lang, menuitems in MENUITEMS_LANG %}
        {% if lang == menuitems_lang %}
            {% for title, link in menuitems %}
                <li><a href="{{ link }}">{{ title }}</a></li>
                <!--
                <li><a href="{{ link }}">{{ title }}</a>
                    <ul><li><a href="{{ link }}">{{ title }}</a></li></ul>
                </li>
                -->
            {% endfor %}
        {% endif %}
    {% endfor %}
    </ul></nav><!-- /#menu -->
    {% endblock %}
    
    <div class="my-main">
        <div class="my-article1">
            <div class="my-article2">
    {% block content %}
    {% endblock %}
            </div>
        </div>
    </div>

    {% block footer %}
    <footer id="contentinfo" class="body">
            <address id="about" class="vcard body">
            Proudly powered by <a href="https://getpelican.com/">Pelican</a>,
            which takes great advantage of <a href="https://www.python.org/">Python</a>.
            </address><!-- /#about -->
    </footer><!-- /#contentinfo -->
    {% endblock %}
</body>
</html>
