{% extends "base.html" %}
{% block html_lang %}{{ lang }}{% endblock %}

{% block header %}
  {% import 'translations.html' as translations_funcs with context %}
  {{ translations_funcs.translations_header(translations) }}
  {{ super() }}
{% endblock %}


{% block content %}
<ul class="wp-block-latest-posts wp-block-latest-posts__list is-grid columns-4">
{% for person in people %}
	<li>
	    <div class="wp-block-latest-posts__featured-image">				
	        <a href="{{ SITEURL }}/{{ person.person_url }}" title="{{ person.name }}">
  	        <div><img src="{{ person.photo }}" class="round wp-post-image" alt="" width="150" height="150"></div>  
   	        </a>
 	    </div>	
    	<a href="{{ SITEURL }}/{{ person.person_url }}" rel="bookmark">{{ person.name }}</a>
	    <br>
		<i>{{ person.position }}</i>
    </li>
{% endfor %}
</ul>

{% endblock content %}
