{% extends "base.html" %}
{% block html_lang %}{{ lang }}{% endblock %}

{% block header %}
  {% import 'translations.html' as translations_funcs with context %}
  {{ translations_funcs.translations_header(translations) }}
  {{ super() }}
{% endblock %}


{% block content %}
<section id="content">

<h2>{{ person_info.name }}</h2>
<h3>{{ person_info.position }}</h3>
<img src="{{ SITEURL }}/{{ person_info.photo }}" alt="">
E-mail: <a href="mailto:{{ person_info.email }}">{{ person_info.email }}</a>
<h6>Research Interests</h6>
<ol>
    {% for research_interest in person_info.researchinterests %}
        <li> {{ research_interest }}</li>
    {% endfor %}
</ol>
<h4>About</h4>
{{ person_info.about }}

<h4>Projects</h4>
<ol>
    {% for project in person_info.projects %}
        <li>
            {% if project['smallphoto'] != 'None' %}
                <img src="{{ SITEURL }}/{{ project['smallphoto'] }}" alt="">
            {% endif %}
            {% if project['project_url'] != 'None' %}
                <a href="{{ SITEURL }}/{{ project['project_url'] }}">{{ project['title'] }}</a>
            {% elif project['title'] != 'None' %}
                {{ project['title'] }}
            {% else %}
                {{ project['id'] }}
            {% endif %}
        </li>
    {% endfor %}
</ol>

<h4>Selected Publications</h4>
{% with publications_list = person_info.selectedpublications %}
    {% include "publication_template.html" %}
{% endwith %}

</section>
{% endblock content %}
