{% extends "base.html" %}
{% block html_lang %}{{ lang }}{% endblock %}

{% block header %}
  {% import 'translations.html' as translations_funcs with context %}
  {{ translations_funcs.translations_header(translations) }}
  {{ super() }}
{% endblock %}

{% block content %}
<h3>Projects</h3>
<ol>
  <h4>Ongoing projects</h4>
  {% for project in projects_ongoing %}
      <img src="{{ SITEURL }}/{{ project.smallphoto }}" alt="">
      <a class="url fn" href="{{ SITEURL }}/{{ project.project_url }}">{{ project.title }}</a>
  {% endfor %}

  <h4>Completed projects</h4>
  {% for project in projects_completed %}
      <img src="{{ SITEURL }}/{{ project.smallphoto }}" alt="">
      <a class="url fn" href="{{ SITEURL }}/{{ project.project_url }}">{{ project.title }}</a>
  {% endfor %}
</ol>

{% endblock content %}
