{% extends "base.html" %}
{% block html_lang %}{{ lang }}{% endblock %}

{% block header %}
    {% import 'translations.html' as translations_funcs with context %}
    {{ translations_funcs.translations_header(translations) }}
    {{ super() }}
{% endblock %}

{% block content %}
<h3>Laboratory Publications</h3>
{% for group_name, group_publications in publications_by_lab_groups %}
    <h4>{{ group_name }}</h4>
    {% for publication_id, publication in group_publications %}
        {% if publication == 'None' %}
            <li>{{ publication_id }}</li>
        {% else %}
            <li>
                {% if publication.image != 'None' %}
                    <img src="{{ publication.image }}" alt="">
                {% endif %}
                {% if publication.downloadlink != 'None' %}
                    <a href="{{ publication.downloadlink }}">{{ publication.title }}</a>
                {% else %}
                    {{ publication.title }}
                {% endif %}
                <div>
                    {% for person in publication.paperauthors %}
                        {% if person['person_url'] != 'None' %}
                            <a class="url fn" href="{{ SITEURL }}/{{ person['person_url'] }}">{{ person['name'] }}</a>
                        {% elif person['name'] != 'None' %}
                            {{ person['name'] }}
                        {% else %}
                            {{ person['id'] }}
                        {% endif %}
                    {% endfor %}
                </div>
                <div>{{ publication.journal }}</div>
                Bibtex: <div>{{ publication.bibtex }}</div>
                Abstract: <div>{{ publication.content }}</div>
            </li>
        {% endif %}
    {% endfor %}
{% endfor %}

{% endblock content %}
