<ol>
    {% for publication_info in publications_list %}
        {% if publication_info['title'] == 'None' %}
            <li>{{ publication_info['id'] }}</li>
        {% else %}
            <li>
                {% if publication_info['downloadlink'] != 'None' %}
                    <a href="{{ publication_info['downloadlink'] }}">{{ publication_info['title'] }}</a>
                {% else %}
                    {{ publication_info['title'] }}
                {% endif %}
                {% if publication_info['paperauthors'] != 'None' %}
                    <div>
                    {% for person in publication_info['paperauthors'] %}
                        {% if person['person_url'] != 'None' %}
                            <a class="url fn" href="{{ SITEURL }}/{{ person['person_url'] }}">{{ person['name'] }}</a>
                        {% elif person['name'] != 'None' %}
                            {{ person['name'] }}
                        {% else %}
                            {{ person['id'] }}
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endif %}
                {% if publication_info['journal'] != 'None' %}
                <div>{{ publication_info['journal'] }}</div>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ol>
