{% extends "base.html" %}
{% block html_lang %}{{ lang }}{% endblock %}

{% block header %}
  {% import 'translations.html' as translations_funcs with context %}
  {{ translations_funcs.translations_header(translations) }}
  {{ super() }}
{% endblock %}


{% block content %}

<h2>Courses</h2>
{% for page in pages | selectattr('category', '==', 'about_courses') | selectattr('lang', '==', lang) %}
    <h3>{{ page.title }}</h3>
    <div>{{ page.content }}</div>
{% endfor %}

<ol id="post-list">
{% for course in current_courses %}
    <li>
        <div class="entry-content">
            <img src="{{ course.image }}" alt="">
            <h4 class="entry-title">{{ course.title }}</h4>
            <div>
            Teachers:
            {% for person in course.teachers %}
                {% if person['person_url'] != 'None' %}
                    <a class="url fn" href="{{ SITEURL }}/{{ person['person_url'] }}">{{ person['name'] }}</a>
                {% elif person['name'] != 'None' %}
                    {{ person['name'] }}
                {% else %}
                    {{ person['id'] }}
                {% endif %}
            {% endfor %}
            </div>
            {{ course.content }}
        </div>
    </li>
{% endfor %}
</ol>
{% endblock content %}
