/*body {
	color: #444444;
	font: 18px ' Comic Sans MS Regular', serif;
	line-height: 1.6;
	word-wrap: break-word;
	background-color: #eaeaea;
}*/

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	overflow-y: scroll;
	/* Keeps page centred in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%;
	/* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust: 100%;
	/* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

ol, ul {
	list-style: none;
}

table {
	/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 0 1.5em;
	width: 100%;
}

th {
	font-weight: bold;
}

th, td, .wp-block-table th, .wp-block-table td {
	border: 1px solid #eaeaea;
	padding: 6px 10px;
}

caption, th, td {
	text-align: left;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	/* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
	outline: 0;
}

a img {
	border: 0;
}

embed, iframe, object {
	max-width: 100%;
}

/* =GLOBAL
----------------------------------------------- */
body,
button,
input,
select,
textarea {
	color: #444444;
	font: 18px ' Comic Sans MS Regular', serif;
	line-height: 1.6;
	word-wrap: break-word;
}

body {
	background-color: #eaeaea;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	padding-bottom: 18px;
	color: #333333;
	font-weight: normal;
	/*font-family: "Kozuka Gothic Pro L", sans-serif; */
	font-family: 'Oxygen', sans-serif;
}

h1 {
	font-size: 46px;
	line-height: 1.2;
}

h2 {
	font-size: 38px;
	line-height: 1.2;
}

h3 {
	font-size: 34px;
	line-height: 1.2;
}

h4 {
	font-size: 30px;
	line-height: 1.2;
}

h5 {
	font-size: 26px;
	line-height: 1.2;
}

h6 {
	font-size: 22px;
	line-height: 1.2;
}

hr,
.wp-block-separator {
	background-color: #eaeaea;
	border: 0;
	height: 1px;
	margin: 30px 0;
}

/* =TEXT ELEMENTS
----------------------------------------------- */
p {
	line-height: 1.6;
	margin-bottom: 15px;
	font-family: 'Crimson Text Regular';/*, serif;*/
	font-size: 18px;
}

strong {
	font-weight: bold;
}

cite, em, i {
	font-style: italic;
}

pre {
	background-color: #ffffff;
	margin-bottom: 20px;
	overflow: auto;
	padding: 20px;
	border: 1px solid #EAEAEA;
	font-family: "Courier 10 Pitch",Courier,monospace;
	font-size: 14px;
	line-height: 1.4;
	white-space: pre-wrap;
}

pre, code, kbd, var, samp, tt {
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 14px;
	line-height: 1.4;
	white-space: pre-wrap;
}

abbr, acronym, dfn {
	border-bottom: 1px dotted #777777;
	cursor: help;
}

address {
	display: block;
	font-style: italic;
	margin: 0 0 15px;
}

ins {
	background: #f8f8f8;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/* =SUPERCRIPT AND SUBSCRIPT
----------------------------------------------- */
sup, sub {
	font-size: 10px;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

dl {
	margin-bottom: 24px;
	font-size: 20px;
}

dt {
	font-weight: bold;
	margin-bottom: 5px;
}

dd {
	margin-bottom: 24px;
}

ul,
ol {
	list-style: none;
    /*display: flex; /* e_che */
    /*justify-content: center;  /* e_che */
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin: 0 0 0 10px;
}

/* =BLOCKQUOTE
----------------------------------------------- */
blockquote,
.wp-block-quote,
.wp-block-quote.is-style-large,
.wp-block-quote.has-text-align-right {
	padding: 30px 30px 20px 45px;
	margin-bottom: 20px;
	background-color: #36668c;
	color: #fff;
	border-radius: 5px;
	border-left: 0;
}

blockquote p,
.wp-block-quote p,
.wp-block-quote.is-style-large p,
.wp-block-quote.has-text-align-right p {
	font-size: 18px;
	font-family: ' Comic Sans MS Regular', serif;
	line-height: 1.4;
	position: relative;
	padding-top: 0;
	padding-left: 15px;
}

blockquote p::before,
.wp-block-quote p::before,
.wp-block-quote.is-style-large p::before,
.wp-block-quote.has-text-align-right p::before {
	content: "\f10d";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #fff;
	font-size: 32px;
	position: absolute;
	top: -27px;
	left: -27px;
}

blockquote a,
.wp-block-quote a,
.wp-block-quote.is-style-large a,
.wp-block-quote.has-text-align-right a {
	color: #fff;
	text-decoration: underline;
}

blockquote em,
blockquote i,
blockquote cite,
.wp-block-quote em,
.wp-block-quote i,
.wp-block-quote cite,
.wp-block-quote.is-style-large em,
.wp-block-quote.is-style-large i,
.wp-block-quote.is-style-large cite,
.wp-block-quote.has-text-align-right em,
.wp-block-quote.has-text-align-right i,
.wp-block-quote.has-text-align-right cite {
	font-style: normal;
}

blockquote cite,
.wp-block-quote cite,
.wp-block-quote.is-style-large cite,
.wp-block-quote.has-text-align-right cite {
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	letter-spacing: 0.05em;
	float: right;
}

blockquote.wp-block-quote.has-text-align-right {
	border-right: 0;
}

/* =FORMS
----------------------------------------------- */
input, textarea {
	-webkit-border-radius: 0px;
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
input[type="url"],
textarea {
	-moz-appearance: none !important;
	-webkit-appearance: none !important;
	appearance: none !important;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
textarea {
	padding: 1%;
	border: 1px solid #eaeaea;
	line-height: 20px;
	width: 95%;
	margin: 0 0 30px;
	background-color: #f8f8f8;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
input[type="url"]:focus,
textarea:focus {
	border: 1px solid #eaeaea;
}

input.s {
	width: 85%;
	padding: 4px 54px 4px 10px;
	height: 46px;
	color: #777777;
	background-color: #ffffff;
	margin: 0;
	border: 1px solid #eaeaea;
}

input.s:focus {
	padding-left: 10px;
	border-color: #eaeaea;
	text-indent: 0;
}

.colormag-button,
input[type="reset"],
input[type="button"],
input[type="submit"],
button {
	margin-bottom: 30px;
	padding: 10px 20px;
	background-color: #36668c;
	border: 0px;
	transition: background-color 0.3s linear 0s;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 18px;
	-moz-appearance: none !important;
	-webkit-appearance: none !important;
	appearance: none !important;
	cursor: pointer;
	display: inline-block;
	color: #ffffff;
}

#search-form input[type="submit"] {
	border-radius: 0;
	margin-left: -8px;
	margin-bottom: 0;
	padding: 6px 10px 5px;
	font-size: 18px;
}

.colormag-button:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
button:hover {
	background-color: #33363b;
}

.previous a,
.next a {
	padding: 5px 0;
	cursor: pointer;
	font-size: 18px;
}

.previous a:hover,
.next a:hover {
	color: #36668c;
	text-decoration: underline;
}

input[type="reset"]:active,
input[type="button"]:active,
input[type="submit"]:active {
	-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

/* =LINKS
----------------------------------------------- */
a {
	color: #36668c;
	text-decoration: none;
}

a:focus, a:active, a:hover {
	text-decoration: none;
}

/* =IMAGES
----------------------------------------------- */
figure {
	margin: 0;
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
	margin-bottom: 18px;
}

.entry-content img, .comment-content img, .widget img {
	max-width: 100%;
	/* Fluid images for posts, comments, and widgets */
}

img.size-full, img.size-large {
	max-width: 100%;
	height: auto;
}

.entry-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

img.alignleft, img.alignright, img.aligncenter {
	margin-bottom: 1.625em;
}

img#wpstats {
	display: none;
}

.circular-image img { /*e_che почему-то не могу использовать*/
	               width: 150px;
	               height: 150px;
	border:1px solid #dedede;
	               -webkit-border-radius: 75px;
	               -moz-border-radius: 75px;
	               -ms-border-radius: 75px;
	               -o-border-radius: 75px;
	                border-radius: 75px;
	margin: 10px 10px 10px 10px; 
}

img.round { 
	width: 150px;
	height: 150px;
    border-radius: 50%; /* Радиус скругления */   
	object-fit: cover; 
   }

/* =LISTS e_che
----------------------------------------------- */
.bulleted_list {
	list-style: circle;
	margin-left: 16px;
}

/* =CLEARFIX e_che_need
----------------------------------------------- */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

/* =ALIGNMENT
----------------------------------------------- */
.alignleft {
	display: inline;
	float: left;
	margin-right: 30px;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 30px;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

/*****************************************************************/
/* =BODY e_che_need
----------------------------------------------- */
body {
	padding-top: 10px;
	padding-bottom: 10px;
	background-size: cover;
}

#page {
	max-width: 1200px;
	margin: 0 auto;
}

.wide {
	padding-top: 0;
	padding-bottom: 0;
}

.wide #page {
	max-width: 100%;
}

.inner-wrap {
	margin: 0 auto;
	max-width: 1140px;
}

.inner-wrap-2 {
	margin: 0 auto;
	max-width: 950px; /*e_che 1140px;*/
}

/* =HEADER e_che_need
----------------------------------------------- */
#header-meta {
	background-color: #ffffff;
}

#header-text-nav-container {
	background-color: #ffffff;
}

#header-text-nav-wrap {
	padding: 55px 0 45px;
    display: flex; /* e_che */
    justify-content: center;  /* e_che */
    /* align-content: center;*/
}

#header-left-section {
	float: none;
    /* display: flex;
    align-content: center;
    align-items: center; */
}

#header-logo-image {
	float: left;
	padding-right: 20px;
}

#header-logo-image img {
	margin-bottom: 0;
}

#header-text {
	float: left;
	padding-right: 20px;
}

#site-title {
	padding-bottom: 0;
	line-height: 1.2;
}

#site-title a {
	color: #36668c;
	font-size: 46px;
}

#site-description {
	line-height: 24px;
	font-size: 16px;
	color: #666666;
	padding-bottom: 0px;
	font-family: 'Open Sans', serif;
}

#header-right-section {
	float: right;
}

#header-right-section .widget {
	text-align: right;
	color: #333333;
}

#header-right-section .widget .widget-title {
	padding-bottom: 0;
	font-size: 18px;
	line-height: 1.2;
	padding-bottom: 5px;
}

.header-image {
	margin-bottom: 0;
	border-bottom: 1px solid #eaeaea;
	width: 100%;
}

/* =HEADER INFO TEXT
----------------------------------------------- */
.small-info-text {
	float: left;
	max-width: 100%;
	padding-right: 15px;
	padding-top: 2px;
}

.small-info-text p {
	font-size: 12px;
	color: #555555;
	margin-bottom: 0;
}


/* =SEARCH WIDGET
----------------------------------------------- */
.search-random-icons-container {
	float: right;
}

#masthead .search-wrap input.s {
	width: 200px;
}

.top-search-wrap {
	float: left;
}

.fa.search-top {
	color: #ffffff;
	cursor: pointer;
	font-size: 21px;
	padding: 10px 12px;
}

.fa.search-top:hover {
	background-color: #36668c;
}

.search-wrap {
	position: relative;
}

.search-wrap button {
	border-radius: 0;
	color: #ffffff;
	line-height: 45px;
	margin-bottom: 0;
	padding: 0 15px;
	margin-left: -5px;
	margin-top: 1px;
}

.search-icon:before {
	content: "\f002";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #ffffff;
	font-size: 18px;
}

.search-form-top {
	border: 1px solid #eaeaea;
	display: none;
	padding: 10px;
	position: absolute;
	right: 0;
	top: 44px;
	z-index: 9999;
	background-color: #ffffff;
}

.search-form-top.show {
	display: block;
}

.not-found .search-wrap button {
	right: 175px;
}

#secondary .search-wrap button {
	right: 26px;
}


/* =NAVIGATION e_che_need
----------------------------------------------- */
nav li > ul,
nav li > ol {
	margin: 0;
	list-style: none;
}

nav ul {
    display: flex; /* e_che */
    justify-content: center;  /* e_che */
}

#site-navigation {
	/*box-shadow: 0 0 2px rgba(0, 0, 0, 0.1) inset;*/
	position: relative;
	background-color: #ffffff;
	border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

#site-navigation .inner-wrap {
	position: relative;
}

.home-icon {
	float: left;
}

.home-icon .fa {
	color: #ffffff;
	font-size: 27px;
}

.home-icon.front_page_on {
	background-color: #36668c;
}

.main-navigation .home-icon a {
	padding: 7px 10px 6px;
}

.main-small-navigation .home-icon a {
	padding: 7px 10px;
}

.main-navigation {
	width: 100%;
	text-align: center;
}

.main-navigation li {
	float: left;
	position: relative;
	font-family: 'Oxygen', sans-serif;
	/*font-weight: 300;*/
}

/* menu labels */
.main-navigation a {
	color: #36668c;
	display: block;
	float: none;
	font-size: 21px;
	/*font-weight: 600;*/
	padding: 10px 12px;
	/*text-transform: uppercase;*/
}

.main-navigation li.default-menu,
li.default-menu {
	display: none;
}

.main-navigation a:hover,
.main-navigation ul li.current-menu-item a,
.main-navigation ul li.current-menu-item a:after,
.main-navigation ul li.current_page_ancestor a,
.main-navigation ul li.current-menu-ancestor a,
.main-navigation ul li.current_page_item a,
.main-navigation ul li:hover > a,
.main-navigation li.menu-item-has-children:hover > a:after {
	color: #36668c;
}

.main-navigation a:hover,
.main-navigation ul li.current-menu-item > a,
.main-navigation ul li.current_page_ancestor > a,
.main-navigation ul li.current-menu-ancestor > a,
.main-navigation ul li.current_page_item > a,
.main-navigation ul li:hover > a,
.main-navigation ul li.focus > a {
	background-color: #eff3f6;
}

.main-navigation li.menu-item-has-children > a:after,
.main-navigation li li.menu-item-has-children > a:after,
.main-navigation li.page_item_has_children > a:after,
.main-navigation li li.page_item_has_children > a:after {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #ffffff;
	font-size: 14px;
	padding-left: 6px;
}

.main-navigation li.menu-item-has-children > a:after,
.main-navigation li.page_item_has_children > a:after {
	content: "\f107";
	color: #ffffff;
}

.main-navigation li li.menu-item-has-children > a:after,
.main-navigation li li.page_item_has_children > a:after {
	content: "\f105";
	position: absolute;
	right: 8px;
}

.sub-toggle {
	display: none;
}

/* =DROP DOWN
----------------------------------------------- */
.main-navigation ul li.focus > ul {
	display: block;
}

.main-navigation .sub-menu,
.main-navigation .children {
	background-color: #232323;
}

.main-navigation ul li ul,
.main-navigation ul li:hover ul ul,
.main-navigation ul ul li:hover ul ul,
.main-navigation ul ul ul li:hover ul ul,
.main-navigation ul ul ul ul li:hover ul ul,
.main-navigation ul li.focus ul ul,
.main-navigation ul ul li.focus ul ul,
.main-navigation ul ul ul li.focus ul ul,
.main-navigation ul ul ul ul li.focus ul ul {
	left: -99999px;
	z-index: 100;
}

.main-navigation ul li:hover ul,
.main-navigation ul ul li:hover ul,
.main-navigation ul ul ul li:hover ul,
.main-navigation ul ul ul ul li:hover ul,
.main-navigation ul ul ul ul ul li:hover ul,
.main-navigation ul li.focus ul,
.main-navigation ul ul li.focus ul,
.main-navigation ul ul ul li.focus ul,
.main-navigation ul ul ul ul li.focus ul,
.main-navigation ul ul ul ul ul li.focus ul {
	left: 100%;
}

.main-navigation ul li ul {
	position: absolute;
	width: 200px;
	top: 42px;
}

.main-navigation ul li ul li {
	float: none;
}

.main-navigation ul li ul li a {
	border-top: none;
}

.main-navigation ul li ul li a,
.main-navigation ul li.current-menu-item ul li a,
.main-navigation ul li ul li.current-menu-item a,
.main-navigation ul li.current_page_ancestor ul li a,
.main-navigation ul li.current-menu-ancestor ul li a,
.main-navigation ul li.current_page_item ul li a {
	float: none;
	font-size: 14px;
	height: 100%;
	padding: 10px 15px;
	color: #ffffff;
	display: block;
	text-align: left;
	text-transform: none;
}

.main-navigation ul li ul li a:hover,
.main-navigation ul li ul li:hover > a,
.main-navigation ul li.current-menu-item ul li a:hover {
	color: #ffffff;
	background-color: #36668c;
}

.main-navigation ul li ul li ul {
	left: 200px;
	top: 0;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation ul ul {
	position: absolute;
	float: left;
	left: -99999px;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation ul ul ul {
	left: -99999px;
	top: 0;
}

.main-navigation ul ul ul li:hover > ul,
.main-navigation ul ul ul li.focus > ul {
	left: 100%;
}

.main-navigation select {
	display: none;
}

/* =RESPONSIVE MENU
----------------------------------------------- */
.menu-toggle, .top-menu-toggle {
	display: none;
	cursor: pointer;
}

.site-header .menu-toggle {
	color: #ffffff;
	margin: 0;
	text-align: center;
	font-family: 'Open Sans', serif;
	padding-bottom: 0;
	line-height: 1.2;
}

.site-header .menu-toggle:hover {
	background-color: #36668c;
}

.site-header .menu-toggle:before {
	content: "\f0c9";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-size: 23px;
	color: #ffffff;
	padding: 8px 12px;
	display: block;
}

.main-small-navigation {
	float: none;
}

.main-small-navigation .menu-primary-container,
.main-small-navigation .menu {
	padding-top: 43px;
}

.main-small-navigation .menu-primary-container > ul,
.main-small-navigation .menu > ul {
	width: 100%;
}

.main-small-navigation ul {
	margin: 0;
	list-style: none;
}

.main-small-navigation a {
	display: block;
	font-size: 14px;
	color: #333333;
	padding: 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
}

.main-small-navigation .random-post a {
	padding: 10px 12px;
	border-bottom: none;
}

.main-small-navigation li {
	background-color: #ffffff;
}

.main-small-navigation li a:hover {
	background-color: #36668c;
	color: #ffffff;
}

.main-small-navigation ul ul a {
	padding-left: 45px;
	text-transform: none;
}

.main-small-navigation ul ul ul a {
	padding-left: 90px;
}

.main-small-navigation .current_page_item > a,
.main-small-navigation .current-menu-item > a {
	background: #36668c;
	color: #ffffff;
}

/* =PAGE HEADER TITLE
----------------------------------------------- */
.page-header .page-title {
	border-bottom: 1px solid #f8f8f8;
	margin-bottom: 30px;
}

/* =CONTENT e_che_need
----------------------------------------------- */
.sticky {
	display: block;
}

#main {
	padding-top: 30px;
	padding-bottom: 20px;
	background-color: #ffffff;
}
.my-main {
	padding-top: 30px;
	padding-bottom: 20px;
	background-color: #ffffff;
	margin: 0 auto;	
	display: block;
	width: 100%;        
}

.my-article1 {
	max-width: 1140px;        
	margin: auto;        
}
.my-article2 {
	max-width: 950px;
	margin: auto; 
}

/* =POST FORMAT e_che_need
----------------------------------------------- */
/* POST FORMAT LINK */
.format-link .entry-content p {
	text-align: center;
	padding-top: 30px;
}

.format-link .entry-content a {
	text-decoration: underline;
	text-transform: uppercase;
	padding: 15px 40px;
	border-radius: 3px;
	background-color: #36668c;
	color: #ffffff;
	transition: background-color 0.3s linear 0s;
	display: inline-block;
}

.format-link .entry-content a:hover {
	background-color: #33363b;
}

/* POST FORMAT ASIDE */
.format-aside .entry-header {
	display: none;
}

/* =FOOTER WIDGET AREA
----------------------------------------------- */
.footer-widgets-wrapper {
	border-top: 1px solid #f2f2f2;
	background-color: #303440;
}

.footer-widgets-area {
	padding-top: 45px;
	padding-bottom: 10px;
	color: #cccccc;
}

.tg-footer-main-widget {
	width: 39.473684%;
	float: left;
	margin-right: 2.631579%;
}

.tg-footer-other-widgets {
	float: right;
	width: 57.894737%;
}

.tg-second-footer-widget,
.tg-third-footer-widget {
	width: 30.303030%;
	float: left;
	margin-right: 4.545454%;
}

.tg-fourth-footer-widget {
	width: 30.303030%;
	float: right;
	margin-right: 0;
}

.footer-widgets-area .widget-title {
	border-bottom: 2px solid #36668c;
	font-size: 18px;
	margin-bottom: 15px;
	padding-bottom: 0;
}

.footer-widgets-area .widget-title span {
	background-color: #36668c;
	color: #ffffff;
	padding: 6px 12px;
	display: inline-block;
}

.footer-widgets-area p {
	text-align: left;
	color: #aaaaaa;
}

.footer-widgets-area a {
	color: #ffffff;
}

.footer-widgets-area a:hover {
	color: #36668c;
}

#colophon .widget {
	margin-bottom: 40px;
}

#colophon, #colophon p {
	font-size: 14px;
	line-height: 1.4;
}

/* =SCROLL UP
----------------------------------------------- */
a#scroll-up {
	bottom: 20px;
	position: fixed;
	right: 20px;
	display: none;
	opacity: 0.5;
	filter: alpha(opacity=50);
	/* For IE8 and earlier */
}

a#scroll-up i {
	font-size: 40px;
	color: #36668c;
}

a#scroll-up:hover {
	opacity: 1;
	filter: alpha(opacity=100);
	/* For IE8 and earlier */
}




/* =POST CONTENT e_che_need
----------------------------------------------- */
.page-header .page-title {
	border-bottom: 2px solid #36668c;
	font-size: 18px;
	margin-bottom: 15px;
	padding-bottom: 0;
}

.page-header .page-title span {
	background-color: #36668c;
	color: #ffffff;
	padding: 6px 12px;
	display: inline-block;
}

.archive #content .post p {
	font-size: 14px;
}

.archive #content .post:nth-child(2n+1) {
	float: right;
	width: 48.7013%;
}

.archive #content .post:nth-child(2n) {
	float: left;
	width: 48.7013%;
	clear: both;
}

.archive #content .post:first-child {
	float: none;
	width: 100%;
}

.archive #content .post:not(:first-child) .article-content .entry-title {
	font-size: 22px;
}

.single #content .post,
#content .post {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

#content .post {
	margin-bottom: 30px;
}

.single #content .post {
	margin-bottom: 0;
}

#content .post img {
	margin-bottom: 0;
}

#content .post .article-content {
	padding: 15px;
}

#content .post .article-content .above-entry-meta .cat-links a {
	background-color: #36668c;
	border-radius: 3px;
	color: #ffffff;
	font-size: 12px;
	padding: 3px 10px;
}

#content .post .article-content .entry-title {
	padding: 5px 0 0;
	font-size: 32px;
}

#content .post .article-content .entry-title a {
	color: #232323;
}

#content .post .article-content .entry-title a:hover {
	color: #36668c;
}

#content .post .article-content .below-entry-meta .posted-on,
#content .post .article-content .below-entry-meta .byline,
#content .post .article-content .below-entry-meta .comments,
#content .post .article-content .below-entry-meta .tag-links {
	padding-right: 10px;
}

#content .post .article-content .below-entry-meta .posted-on .fa {
	color: #888888;
	font-size: 10px;
	padding-right: 3px;
}

#content .post .article-content .below-entry-meta .byline .fa,
#content .post .article-content .below-entry-meta .comments .fa,
#content .post .article-content .below-entry-meta .tag-links .fa,
#content .post .article-content .below-entry-meta .edit-link .fa {
	color: #888888;
	padding-right: 5px;
	font-size: 11px;
}

#content .post .article-content .below-entry-meta .posted-on a,
#content .post .article-content .below-entry-meta .byline a,
#content .post .article-content .below-entry-meta .comments a,
#content .post .article-content .below-entry-meta .tag-links a,
#content .post .article-content .below-entry-meta .edit-link a {
	font-size: 12px;
}

#content .post .article-content .below-entry-meta {
	padding-bottom: 20px;
}

.below-entry-meta .updated:not(.published) {
	display: none;
}

.type-post .entry-title,
.type-page .entry-title {
	font-size: 34px;
	line-height: 1.2;
}

.post .entry-title a, .search .entry-title a {
	color: #333333;
	transition: all 0.3s ease 0s;
}

.post .entry-title a:hover, .search .entry-title a:hover {
	color: #36668c;
}

.post .entry-content {
	margin-bottom: 10px;
}

.entry-content ul {
	list-style: square;
}

.entry-content ul,
.entry-content ol {
	padding: 0 0 0 35px;
	margin-bottom: 30px;
}

.entry-content li > ul,
.entry-content li > ol {
	margin-bottom: 0;
}

.entry-content li {
	line-height: 1.3;
}

.post .entry-content a:hover {
	text-decoration: underline;
}

.entry-meta {
	color: #aaaaaa;
	padding-bottom: 20px;
}

.entry-meta .byline i,
.entry-meta .cat-links i {
	padding-left: 5px;
	padding-right: 5px;
	font-size: 16px;
	color: #36668c;
}

.entry-meta .byline a,
.entry-meta .cat-links a {
	font-size: 20px;
}

.entry-meta .byline {
	margin-right: 25px;
}

.entry-meta a {
	color: #36668c;
}

.entry-meta a:hover {
	text-decoration: underline;
}

.entry-meta .sep {
	display: block;
	border-top: 1px solid #f2f2f2;
	position: relative;
	margin: 10px 0 10px 0;
}

.entry-meta .post-format {
	padding: 5px;
	position: absolute;
	right: -64px;
	top: -32px;
}

.entry-meta .post-format i {
	background-color: #36668c;
	border-radius: 5px;
	color: #ffffff;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 30px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 12px 8px 8px 8px;
}

.entry-meta .posted-on,
.entry-meta .comments-link,
.entry-meta .edit-link,
.entry-meta .tag-links {
	font-size: 12px;
	line-height: 20px;
	margin-right: 25px;
}

.entry-meta .posted-on a,
.entry-meta .comments-link a,
.entry-meta .edit-link a,
.entry-meta .tag-links a {
	color: #aaaaaa;
	font-size: 14px;
}

.entry-meta .posted-on a:hover,
.entry-meta .comments-link a:hover,
.entry-meta .edit-link a:hover,
.entry-meta .tag-links a:hover {
	color: #36668c;
	text-decoration: none;
}

.entry-meta .posted-on i,
.entry-meta .comments-link i,
.entry-meta .edit-link i,
.entry-meta .tag-links i {
	font-size: 14px;
	padding-right: 5px;
	padding-left: 5px;
	text-decoration: none;
}

.entry-content a.read-more:hover {
	text-decoration: none;
}

.single #content .tags a {
	border: 1px solid #eaeaea;
	padding: 3px 5px;
	border-radius: 3px;
	color: #777777;
}

.single #content .tags a:hover {
	color: #36668c;
	text-decoration: none;
}

.more-link {
	display: inline-block;
	background-color: #36668c;
	border-radius: 3px;
}

.more-link span {
	font-size: 12px;
	padding: 5px 10px;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
}

.more-link span:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

ul.blocks-gallery-grid,
ul.wp-block-gallery {
	padding: 0;
}

ul.blocks-gallery-grid img,
ul.wp-block-gallery img {
	margin-bottom: 0;
}

/* =PEOPLE TABLE
----------------------------------------------- */
.wp-block-latest-posts.is-grid {
 display:flex;
 flex-wrap:wrap;
 padding:0
}

.wp-block-latest-posts.wp-block-latest-posts__list {
 list-style:none
}

 .wp-block-latest-posts.columns-4 li {
  width:calc(25% - 16px)
 }


